.a1{
    background-color: grey;
    border: 1px  groove black;
    margin-top: 20px;
    padding-right: -20px;
    padding-left: -20px;
    padding-bottom: 10px;
    padding-top: 20px;
}
.a2{
    background-color: grey;
    border: 1px  groove black;
    margin-top: 20px;
    padding-right: -20px;
    padding-left: -20px;
    padding-bottom: 20px;
    padding-top: 100px;
}

.a3{
    background-color: grey;
    border: 1px  groove black;
    margin-top: 20px;
    padding-right: -20px;
    padding-left: -20px;
    padding-bottom: 20px;
    padding-top: 100px;

}

.a4{
    background-color: grey;
    border: 1px  groove black;
    margin-top: 20px;
    padding-right: -20px;
    padding-left: -20px;
    padding-bottom: 20px;
    padding-top: 100px;

}

.a5{
    background-color: grey;
    border: 1px  groove black;
    margin-top: 20px;
    padding-right: -20px;
    padding-left: -20px;
    padding-bottom: 20px;
    padding-top: 100px;

}

.a6{
    background-color: grey;
    border: 1px  groove black;
    margin-top: 20px;
    padding-right: -20px;
    padding-left: -20px;
    padding-bottom: 20px;
    padding-top: 100px;

}

.a7{
    background-color: grey;
    border: 1px  groove black;
    margin-top: 20px;
    padding-right: -20px;
    padding-left: -20px;
    padding-bottom: 20px;
    padding-top: 100px;

}

.a8{
    background-color: grey;
    border: 1px  groove black;
    margin-top: 20px;
    padding-right: -20px;
    padding-left: -20px;
    padding-bottom: 20px;
    padding-top: 100px;

}

.a9{
    background-color: grey;
    border: 1px  groove black;
    margin-top: 20px;
    padding-right: -20px;
    padding-left: -20px;
    padding-bottom: 20px;
    padding-top: 100px;

}

.a10{
    background-color: grey;
    border: 1px  groove black;
    margin-top: 20px;
}

.a11{
    background-color: grey;
    border: 1px  groove black;
    margin-top: 20px;
    padding-right: -20px;
    padding-left: -20px;
    padding-bottom: 20px;
    padding-top: 100px;

}

.a12{
    background-color: grey;
    border: 1px  groove black;
    margin-top: 20px;
    padding-right: -20px;
    padding-left: -20px;
    padding-bottom: 20px;
    padding-top: 100px;

}

.a13{
    background-color: grey;
    border: 1px  groove black;
    margin-top: 20px;
    padding-right: -20px;
    padding-left: -20px;
    padding-bottom: 20px;
    padding-top: 100px;

}

.a14{
    background-color: grey;
    border: 1px  groove black;
    margin-top: 20px;
    padding-right: -20px;
    padding-left: -20px;
    padding-bottom: 20px;
    padding-top: 100px;

}

.a15{
    background-color: grey;
    border: 1px  groove black;
    margin-top: 20px;
}


