.a1{
    background-color: grey;
    border: 1px  groove black;
    padding-bottom: 100px;
    padding-top: 100px;
    
}
.a2{
    background-color: grey;
    border: 1px  groove black;
    padding-bottom: 50px;
    padding-top: 50px;
    
  
    
}

.a3{
    background-color: grey;
    border: 1px  groove black;
    padding-bottom: 50px;
    padding-top: 50px;
    

}

.a4{
    background-color: grey;
    border: 1px  groove black;
    padding-bottom: 50px;
    padding-top: 50px;
    
}

.a5{
    background-color: grey;
    border: 1px  groove black;
    padding-bottom: 50px;
    padding-top: 50px;
   
}

.a6{
    background-color: grey;
    border: 1px  groove black;
    padding-bottom: 50px;
    padding-top: 50px;

}

.a7{
    background-color: grey;
    border: 1px  groove black;
    padding-bottom: 50px;
    padding-top: 50px;
    
}

.a8{
    background-color: grey;
    border: 1px  groove black;
    padding-bottom: 50px;
    padding-top: 50px;
    
}

.a9{
    background-color: grey;
    border: 1px  groove black;
    padding-bottom: 50px;
    padding-top: 50px;
    

}

.a10{
    background-color: grey;
    border: 1px  groove black;
    padding-bottom: 100px;
    padding-top: 100px;
} 

.a11{
    background-color: grey;
    border: 1px  groove black;
    padding-bottom: 100px;
    padding-top: 100px;
    

}

.a12{
    background-color: grey;
    border: 1px  groove black;
    padding-bottom: 50px;
    padding-top: 50px;
}

.a13{
    background-color: grey;
    border: 1px  groove black;
    padding-bottom: 50px;
    padding-top: 50px;
    

}

.a14{
    background-color: grey;
    border: 1px  groove black;
    padding-bottom: 100px;
    

}

.a15{
    background-color: grey;
    border: 1px  groove black;
    padding-bottom: 50px;
    padding-top: 50px;
}


