.a{
    background-color: rgb(107, 109, 110);
    
   
    
 
 

    
}
.b{
    background-color: rgb(25, 108, 150);
    padding-left: 100px;
    
    
}  
.c{
    padding-left: 350px;
    background-color: rgb(25, 108, 150);
}
   