.a1{
    border:1px groove black ;
    background-color: rgb(120, 120, 121);
}
.a2{
    background-color: rgb(53, 53, 46);
}
.a3{
    background-color: rgb(61, 61, 50);
}
.a4{
    background-color: rgb(85, 85, 81);
}